@charset "utf-8";
@import "common";
@import "./index";
@import "./other_header";
$UIwidth: 1000;

.activity_list{
	display: block;
	padding: r(22) 0;
	overflow: auto;
	li{
		width: r(490);
		height: r(300);
		float: left;
		margin: r(10) 0;
		position: relative;
		overflow: hidden;
		.item{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		    -webkit-transition: top 0.3s;
		    -moz-transition: top 0.3s;
		    -o-transition: top 0.3s;
		    transition: top 0.3s;
		    &:hover{
				top: r(-48);
				top: r(0);
		    }
		}
		img{
			display: block;
			width: r(490);
			height: r(300);
		}
		
		h6{
			height: r(48);
			width: 100%;
			line-height: r(48);
			text-align: center;
			font-size: r(16);
			color: #000;
			background: #fff;
			display: none;
		}
		&:nth-child(2n){
			margin: r(10) 0 r(10) r(20);
		}
	}
}